* {
  font-family: Inter !important;
}

* {
  box-sizing: border-box;
}

.summary-card {
  display: flex;
  flex-direction: column;

  border: 2px solid var(--bg-color);
  border-radius: 3px;
}

.sc-row.sc-header {
  background-color: var(--bg-color);
}

.sc-row.sc-header .sc-row__label .sc-label {
  font-weight: 500;
}

.sc-header > .sc-header__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sc-header__actions > .sc-button {
  line-height: 1;
  padding: 5px 8px;
  border-radius: 99px;
  background-color: var(--alert-text-info);
  color: var(--bg-color);
  --icon-stroke: currentColor;
  cursor: pointer;
  user-select: none;
}

.sc-body {
  display: flex;
  flex-direction: column;
  /* padding: 0px;
  gap: 4px; */
}

.sc-section > .sc-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 0px 8px; */
  /* gap: 4px; */
  height: 24px;
  background: var(--bg-color);
}

.sc-section > .sc-row .sc-arrow {
  --icon-stroke: currentColor;
}
.sc-header > .sc-row .sc-arrow {
  --icon-stroke: currentColor;
}

.sc-link:hover {
  cursor: pointer;
  background-color: var(--fg-hover-color);
  transition: background-color 300ms ease;
}

.sc-row {
  display: flex;
  flex-direction: row;
  height: 36px;
  gap: 0px;
}

.sc-row > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}
.sc-row .sc-row__label {
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 0; /* required for ellipsis */
}
.sc-row .sc-row__label > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sc-row__counter {
  padding: 4px 4px;
  min-width: 32px;
}
.sc-row__counter > div {
  line-height: 1;
  font-weight: 500;
  background-color: var(--alert-bg-info);
  color: var(--alert-text-info);
  padding: 5px 7px;
  border-radius: 99px;
}

.sc-row__arrow > div {
  height: 24px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sc-row__arrow .icon {
  font-size: 18px;
  text-align: center;
  line-height: 18px;
  height: 18px;
  width: 18px;
}

.sc-link.sc-extlink {
  flex-flow: row-reverse;
}

.sc-link:not(.sc-extlink) .sc-arrow .icon:nth-child(1) {
  display: none;
}

.sc-link.sc-extlink .sc-arrow .icon:nth-child(2) {
  display: none;
}

.sc-foryou > .sc-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 4px;
  gap: 4px;
  height: auto;
  /* background: var(--bg-color); */
}

.sc-link-pill {
  line-height: 1;
  padding: 5px 8px;
  border-radius: 99px;
  border: 1px solid currentColor;
  color: var(--text-color);
  --icon-stroke: currentColor;
  cursor: pointer;
  user-select: none;

  display: flex;
  flex-direction: row;
  gap: 4px;
  position: relative;
}
.sc-link-pill::after {
  position: absolute;
  display: block;
  content: "";
  inset: 0px;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.1;
}

.sc-link-pill.sc-foryou-like {
  color: var(--pink);
}
.sc-link-pill.sc-foryou-assign {
  color: var(--cyan);
}

.sc-link-pill.sc-foryou-like > svg:nth-child(2) {
  display: none;
}
.sc-link-pill.sc-foryou-assign > svg:nth-child(1) {
  display: none;
}

/* CUSTOM */
.sc-link:nth-child(1) {
  filter: hue-rotate(174deg);
}
.sc-link:nth-child(3) {
  filter: hue-rotate(283deg);
}
